
/* Navbar */

.container {
  max-width: 80%;
}

.container-lg {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  background-color: teal;
  padding: 20px 20px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
  color: #FFF;
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;
}

.navbar-nav .nav-link {
  padding: 0 .5rem;
}

.nav-item {
  border-right: 1px solid #CCC;
}

.nav-item:last-child{
  border-right: none;
}

@media (min-width: 768px) {

  .container-lg{
  }

  .content-box .img-fluid {
      max-width: 35%;
  }
}

@media (max-width: 767px) {
  .container-lg {
      max-width: 100%;
  }

  .navbar .container-lg,
  .navbar-brand {
      display: block;
  }

  .navbar {
      display: block;
  }

  .navbar-brand {
      margin-right: -1rem;
      margin-left: -1rem;
      text-align: center;
  }

  .navbar-nav {
      text-align: c;
      flex-direction: row;
  }

  .content-box img {
      height: auto;
      margin-right: 1rem;
      margin-top: .5rem;
      margin-bottom: .5rem;
  }

  .content-box .img-fluid {
      max-width: 100%;
  }

  .container {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 100%;
      width: auto!important;
  }
}


/* Main */

main {
  background-color: #CCC;
  min-height: 90vh;
}

main .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-box {
  background-color: #FFF;
  padding: 20px;
  font-size: large;
}

.content-box img {
  margin-right: 1rem;
  margin-top: .5rem;
  margin-bottom: -.5rem;
}

p {
  text-align: center;
  line-height: 2rem;
}

/* Footer */

body {
  background-color: grey;
}

footer {
  text-align: center;
  background-color: grey;
  border-top: teal 5px solid;
  color: white;
  font-size: smaller;
  padding-top: 40px;
  padding-bottom: 40px;
}

h1 {
  border-bottom: 2px solid #CCC;
  color: teal;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

/* form */
form .btn {
  background-color: teal;
  color: white;
  border-radius: 0rem;
}

/* cards */
.card {
  margin-bottom: 20px;
}

.card img {
  width: auto;
  height: auto;
  object-fit: cover;
  margin: 0 0 0 0;
}

.card .btn {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: teal;
  color: white;
  position: absolute;
  border-radius: 0;
  bottom: 0;
  margin-bottom: 10px;
}
