h1 {
  text-align: center;
}

#mainbody {
  height: 79.3vh;
}
.row {
  margin-right: 0;
}

.col-8 {
  padding-right: 0;
  padding-left: 15px;
}

.col-12 {
  height: auto;
  padding-right: 0;
  padding-left: 15px;
}

img {
  margin-right: 15px;

  height: auto;
  width: 40%;
  float: left;
}

.jumbotron {
  padding: 2rem 1rem;
}

p {
  font-size: 1.1rem;
}