// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.home-page {
    height: 100vh; // Full viewport height
    width: 100vw; // Full viewport width
    background-color: black; // Fallback color for browsers that do not support background images
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    // Default background
    background-image: url('../assets/AnthonySmithProfilePicture.png');

    // Breakpoint-specific backgrounds
    @media (min-width: 576px) {
        // sm breakpoint
        background-image: url('../assets/AnthonySmithProfilePicture.png');
    }

    @media (min-width: 768px) {
        // md breakpoint
        background-image: url('../assets/AnthonySmithProfilePicture.png');
    }

    @media (min-width: 992px) {
        // lg breakpoint
        background-image: url('../assets/AnthonySmithProfilePicture.png');
    }

    @media (min-width: 1200px) {
        // xl breakpoint
        background-image: url('../assets/AnthonySmithProfilePicture.png');
    }
}

.resume-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa; // Light background for better readability
}

.pdf-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.pdf-wrapper {
    width: 100%;
    max-width: 1200px; // Limit the width of the PDF container
    background-color: #ffffff; // White background for the container
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtle shadow for elevation
    border-radius: 8px; // Rounded corners
    overflow: hidden; // Prevent content overflow
    padding: 10px; // Add padding inside the container
}

#root {
    // max-width: 1280px;
    // margin: 0 auto;
    // padding: 2rem;
    text-align: center;
}

h1 {
    color: white;
}